@charset "utf-8";
/* CSS Document */

/* ****** Common Element CSS Start ******/
* {
    margin: 0px;
    padding: 0px;
    outline: none;
}

/* ----- Local Font Imports ----- */
@font-face {
  font-family: "Medium";
  src:
      local("Highrise400"),
      url("./assets/fonts/Highrise400.otf") format("truetype");
}
@font-face {
  font-family: "Bold";
  src:
      local("HighriseBold700"),
      url("./assets/fonts/HighriseBold700.otf") format("truetype");
}
@font-face {
  font-family: "Condensed";
  src:
      local("HighriseCondensed400"),
      url("./assets/fonts/HighriseCondensed400.otf") format("truetype");
}

@font-face {
  font-family: "CircularBlack";
  src:
      local("CircularStd-Black"),
      url("./assets/fonts/CircularStd-Black.otf") format("truetype");
}

@font-face {
  font-family: "CircularMedium";
  src:
      local("CircularStd-Medium"),
      url("./assets/fonts/CircularStd-Medium.otf") format("truetype");
}

@font-face {
  font-family: "CircularBold";
  src:
      local("CircularStd-Bold"),
      url("./assets/fonts/CircularStd-Bold.otf") format("truetype");
}

@font-face {
  font-family: "CircularLight";
  src:
      local("CircularStd-Light"),
      url("./assets/fonts/CircularStd-Light.otf") format("truetype");
}

body,
html {
  overflow: auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
