
/* ----- Loading Screen ----- */

.loadingPageBody {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

.loadingPageBody h2 {
    color: white;
    font-family: "CircularMedium";
    font-size: 20px;
    width: 250px;
    text-align: center;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 160px;
}